

<header>
    <%- include("partials/header.ejs") %>
</header>

<style>
   section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 0 ;

    }
</style>
<section>   
<article>
    this is the simplict Qr image generator , it easy to build <br>
    i used Qriamge from NPM website here is the url <br>
    <a href="https://www.npmjs.com/package/qr-maker"> click here </a> <br> 
    and if you want to see the code ,  the gitHub link here <br>
    <a href="https://github.com/Lampsi01/QrCode.git" > click here</a>
</article>

</section>