
<%- include("partials/header.ejs") %>

<style>
     section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 0 ;

    }
</style>


<section>
    <p>
        for more you can visit my portfolio  <br>
        <a href="https://lampsi01.github.io/lotfi0.2/"> click here </a>
    </p>
</section>